.graph path {
	stroke:  rgba(240,95,64,.9);
	stroke-width: 3;
	fill: none;
}
/*.graph{background-color: #9d9d9d;*/
  /*border-radius: 10px;*/
  /*width: 550px;*/
/*}*/
.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #eee;
}

.x.axis {
	fill: black;
}

.y.axis {
	fill: black;
}

@media (max-height: 900px ) {
        p {
        margin-bottom: 20px;
        font-size: 1em !important;
        line-height: 1;
    }
    
    .fa-4x, .formula{
        display: none !important;
    }
    

}

@media (max-width: 1200px){
    .fa-4x, .formula{
        display: none !important;
    }
}
    
