<!DOCTYPE html>

<html lang="en" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>INFO 474 | MLAC</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.3/css/bootstrap-slider.min.css" />
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">




    <!--Qtip CSS-->
    <link rel="stylesheet" href="js/lib/jquery.qtip/jquery.qtip.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.3/css/bootstrap-slider.min.css">

    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" href="css/creative.css" type="text/css">


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script rel="js/bootstrap.js"></script>

</head>

<body id="page-top" ng-app="myApp" ng-controller="myCtrl">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">LEAN ANGLE CALCULATOR</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" data-spy="affix" data-offset-top="205" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                 <li>
                    <a class="page-scroll" href="#">Home</a>
                </li>
                 <li>
                    <a class="page-scroll" href="#assumption">Assumptions</a>
                </li>
                <li>
                    <a class="page-scroll" href="#physics">Physics</a>
                </li>
                <li>
                    <a class="page-scroll" href="#Result">Takeaways</a>
                </li>
                <li>
                    <a class="page-scroll" href="#pickTrack">Circuito de jerez</a>
                </li>
                <li>
                    <a class="page-scroll" href="#math">Calculator</a>
                </li>
                 <li>
                    <a class="page-scroll" href="#graphs">Graphs</a>
                </li>
                 <li>
                    <a class="page-scroll" href="#graphs2">More Graphs</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to motorcycle lean angle calculator</h1>
            <hr>
            <p>Let's learn about the maximum lean angle!</p>
            <a href="#assumption" class="btn btn-primary btn-xl page-scroll">What is the physics behind this?</a>
        </div>
    </div>
</header>

<section id="assumption" >
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Assumptions</h1>
                    <hr class="primary">
                    <p>In order to calculate the lean angle from the pure physic perspective, we've made some assumptions to simplify the work.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <section class="no-padding" id="portfolio">
                <div class="container-fluid">
                    <div class="row no-gutter">
                        <div class="col-lg-4 col-sm-6">
                            <div class="project-category text-faded">
                                <h3>1. Design of the motorcycle</h3>
                            </div>
                            <a href="#" class="portfolio-box">
                                <img src="img/bikeDesign.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            We assume that all the motorcycles are the same, and the frame of the motorcycle does not affect the lean angle.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="project-category text-faded">
                                <h3>2. Rider's skill</h3>
                            </div>
                            <a href="#" class="portfolio-box">
                                <img src="img/skill.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            Rider's skill does affect the lean angle, and it cannot be calculated, so let's assume rider is skilled!
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="project-category text-faded">
                                <h3>3. Road condition</h3>
                            </div>
                            <a href="#" class="portfolio-box">
                                <img src="img/RoadCondition.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            We assume the road is perfectly made, flat and smooth.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <a href="#physics" class="btn btn-primary btn-xl wow tada page-scroll">OK, got it!</a>
            </section>
        </div>
    </div>

</section>
<section id="physics">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Physics formula</h1>
                    <hr class="light">
                    <p>Here are two main formula to calculate the lean angle by given the speed and the turn radius</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-fire wow bounceIn text-primary"></i>
                        <h2>Friction formula :</h2>
                        <p class="text-light">$$F_f = m{v^2 \over R}$$</p>
                        <p class="text-light"><i class="fa fa-2x fa-angle-down   text-light"></i>$$\mu N = \mu mg = m{v^2 \over R}$$</p>
                        <i class="fa fa-2x fa-angle-down   text-light"></i>
                        <h3 class="text-light">$$\mu = {v^2 \over gR}$$</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-repeat wow bounceIn text-primary"></i>
                        <h2>Lean Angle formula :</h2>
                        <p class="text-light">$$ \tau_{net-0} = 0 = mgL \sin \theta - m{v^2 \over r }L \cos \theta $$</p>
                        <p class="text-light"><i class="fa fa-2x fa-angle-down   text-light"></i>$$g \sin \theta = {v^2 \over r} \cos \theta$$</p>
                        <p class="text-light"><i class="fa fa-2x fa-angle-down   text-light"></i>$${\sin \theta \over \cos \theta} = \tan \theta = {v^2 \over rg}$$</p>
                        <i class="fa fa-2x fa-angle-down   text-light"></i>
                        <h3 class="text-light">$$\tan \theta = \mu $$</h3>
                    </div>
                </div>
                <a href="#Result" class="btn btn-primary btn-xl wow tada page-scroll">What does that means ?</a>
            </div>
        </div>
    </div>
</section>
<section id="Result" >
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Take Aways Form Formula</h1>
                    <hr class="primary">
                    <p>Here are some observations that take away from both formulas </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Tighter Turn</h3>
                        <p class="text-muted">Tighter turn means you will lean more or slower your speed to take the turn !</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Faster Speed</h3>
                        <p class="text-muted">Faster speed means you have to lean more !</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Static Friction Coefficient</h3>
                        <p class="text-muted">Based on the formula, friction coefficient can up to 1.7 ! </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Speed + Turn</h3>
                        <p class="text-muted">After simplify the formula, only speed and turn radius affect the lean angle !</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <a href="#pickTrack" class="btn btn-default btn-xl wow tada page-scroll">Let's go to the track !</a>
    </div>
</section>

<section id="pickTrack">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Circuito de Jerez</h1>
                    <hr class="primary">
                    <p>Here is one of the famous motorcycle Grand Prix race track locate in Span. There has 13 turns in total, please select a turn to see how far that the real racer can lean. </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6">
                    <img id="map" height="500" align="center" usemap="#trackmap" width="auto" src="img/track.jpg">
                    <map name="trackmap" id="ImageMapsCom-image-maps-2016-03-12-180608">
                        <area class="area" ng-click="func(109.44,46)" id="curve5" alt="Curve5 <br> Turn radius : 109.44 feet<br> Average speed : 46 MPH " shape="rect" coords="237,350,343,484" />
                        <area class="area" ng-click="func(376,79)" id="curve4" alt="Curve4 <br> Turn radius : 376 feet<br> Average speed : 79 MPH " shape="rect" coords="434,190,534,289"/>
                        <area class="area" ng-click="func(93,44)" id="curve11" alt="Curve11 <br> Turn radius : 93 feet<br> Average speed : 44 MPH " shape="rect" coords="297,248,392,348" />
                        <area class="area" ng-click="func(125,60)" id="curve9" alt="Curve9 <br> Turn radius :125 feet<br> Average speed : 60 MPH"  shape="rect" coords="34,280,129,379"/>
                    </map>
                </div>
                <div class="col-lg-6">
                    <h3>Selected turn has {{radianFeet}} Feet</h3>
                    <h3>The average speed of this turn is {{speedMPH}} MPH!</h3>
                    <h3>The maximum lean angle for this turn is </h3><h1>{{total()}} &#176;</h1>
                    <br>
                    <a href="#math" class="btn btn-primary btn-xl wow tada page-scroll">Click here to manually input Speed and Turn radius !</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="math" >
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Let Set the speed and the turn radius first </h1>
                    <hr class="primary">
                    <p>You can change speed or the turn radius by adjust the slider</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <h3>Speed Gauge</h3>
                        <div id="gauge" style="width:300px; height:250px"></div>
                        <h3>{{speedMPH}} MPH</h3>
                        <input id="spd" data-slider-id='spdSld' ng-model="speedMPH"  ng-init="speedMPH = '79'" type="text" data-slider-min="1" data-slider-max="200" data-slider-step="1" data-slider-value="1">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <h3>Turn Radius</h3>
                        <svg height="250" width="250">
                            <circle cx="125" cy="125" r="{{radianSvg()}}" stroke="black" fill="rgba(240,95,64,.9)" stroke-width="1" />
                        </svg>
                        <h3>{{radianFeet}} Feet</h3>
                        <input id="rad" data-slider-id='radSld' ng-model="radianFeet"ng-init="radianFeet = '376'" type="text" data-slider-min="1" data-slider-max="500" data-slider-step="1" data-slider-value="1">
                        <!--<p class="text-muted">Faster speed means you have to lean more !</p>-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <h3>Lean Angle: {{total()}} &#176;</h3>
                    <div id="viewport"></div>


                </div>
            </div>
            <br>
            <a id="search" href="#animation" class="btn btn-primary btn-xl ">Lean angle simulation</a>
            <a href="#graphs" class="btn btn-default btn-xl wow tada page-scroll">Graph representation </a>
        </div>
    </div>
</section>

<section id="graphs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <H1>Speed vs Lean Angle</H1>
                <h4>Turn radius at {{radianFeet}} Feet</h4>
                <div class="graph" id="graph"></div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <H1>Turn Radius vs Lean Angle</H1>
                <h4>Speed at {{speedMPH}} MPH</h4>
                <div class="graph" id="graph2"></div>
            </div>
        </div>
    </div>
</section>

<section id="graphs2">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-md-6 text-center">
                <H1>Friction vs Lean Angle</H1>
                <h4>Current Friction at {{frictionNumber}}</h4>
                <div  class="graph" id="graph3"></div>
            </div>
        </div>
    </div>
</section>



<!--<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
            </div>
        </div>
    </div>
</section>-->



<!--<div id="viewport2"></div>-->

<!--Math Library-->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>


<!--angular-->
<script src="js/lib/angular.min.js"></script>

<!--gage-->

<script src="js/lib/raphael.2.1.0.min.js"></script>
<script src="js/lib/justgage.1.0.1.min.js"></script>

<!--slider-->
<script src=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.3/bootstrap-slider.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!--Qtip-->
<script src="js/lib/jquery.qtip/imagesloaded.pkg.min.js"></script>
<!--<script src="js/lib/jquery.qtip/imagesloaded.pkg.min.js.map"></script>-->
<script src="js/lib/jquery.qtip/jquery.qtip.js"></script>

<script src="js/creative.js"></script>


<script src="js/lib/Three.js"></script>
<script src="js/lib/physi.js"></script>
<script src="js/lib/d3.min.js"></script>
<script src="js/lib/cannon.js"></script>
<script src="js/lib/oimo.js"></script>
<script src="js/app.js"></script>
<script src="js/motorcycle.js"></script>
<!--Custom Theme JavaScript-->
</body>

</html>
